.nav{
  grid-area: n;
  background-color: burlywood;
}
.item  {
  color:rgb(255, 0, 85);
  text-decoration: none;
}
.active {color: rgb(25, 0, 250);
text-decoration: none;
}  
.BestFriends{
  margin-top: 10px;
}
.friends img{
  height: 15px;
  width: 15px;
}